.vue-tip-container {
  position: fixed;
  border-style: solid;
  transition: left 0.1s, top 0.1s;
  background-color: rgba(50, 50, 50, .8);
  border-width: 0;
  border-color: rgb(51, 51, 51);
  border-radius: 4px;
  color: rgb(255, 255, 255);
  font-family: 微软雅黑, Arial, Verdana, sans-serif;
  padding: 5px;
  z-index: 9999;
  max-width: 30%;

  .triangleBox {
    height: 100%;
    width: 100%;
    position: relative;

    .triangle {
      height: 0;
      width: 0;
      border-bottom: 12px solid rgba(50,50,50,.8);
      border-left: 12px solid rgba(50,50,50,0);
      border-right: 12px solid rgba(50,50,50,0);
      position: absolute;
      top: -33px;
      left: 40px;
    }
  }

  p {
    word-wrap: break-word;
    margin: 0;
  }
}