.icon {
  height: 100%;
  fill: currentColor;
  overflow: hidden;
}
.iconinfo {
  border: 1px solid #91d5ff;
  background-color: #e6f7ff;
}
.iconsuccess {
  border: 1px solid #b7eb8f;
  background: #f6ffed;
}
.iconwarning {
  border: 1px solid #ffe58f;
  background-color: #fffbe6;
}
.iconerror {
  border: 1px solid #ffa39e;
  background-color: #fff1f0;
  svg {
    color: red;
  }
}
.pos_top {
  top: 60px;
  left: 0;
  margin: auto;
}

.pos_left {
  top: 60px;
  left: 10px;
}
.pos_center {
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.pos_right {
  top: 60px;
  right: 10px;
}
.pos_bottom {
  bottom: 60px;
  left: 0;
  right: 0;
  margin: auto;
}
.toast {
  * {
    padding: 0;
    margin: 0;
  }
  font-size: 14px;
  box-sizing: border-box;
  position: fixed;
  padding-right: 10px;
  height: 40px;
  display: inline-block;
  transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  left: 50%;
  font-weight: 600;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  line-height: 40px;
  box-shadow: 0 2px 60px 2px rgba(0,0,0,.2);
  z-index:999999;
  p {
    word-wrap: break-word;
  }
  .fl {
    float: left;
  }
  .fr {
    float: right;
  }
  .clearfix:after {
    height: 0;
    content: "";
    display: block;
    visibility: hidden;
    clear: both;
  }
  .clearfix {
    zoom: 1;
  }

  .iconBox {
    width: 40px;
    line-height: 40px;
    height: 100%;
    vertical-align: middle;
  }
  .iconContent {
    height: 100%;
    width: calc(100% - 40px);
    overflow: hidden;
  }
}

.bounce-enter-active {
  animation: bounce-in 0.5s;
}
.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}
@keyframes bounce-in {
  0% {
	transform: translateX(0%);
	opacity: 0;
	display: none;
  }
  50% {
	transform: translateX(-52%);
	opacity: 0.8;
  }
  100% {
	transform: translateX(-50%);
	opacity: 1;
  }
}

@-o-keyframes bounce-in {
	0% {
	  transform: translateX(0%);
	  opacity: 0;
	}
	50% {
	  transform: translateX(-52%);
	  opacity: 0.8;
	}
	100% {
	  transform: translateX(-50%);
	  opacity: 1;
	}
  }
  @-webkit-keyframes bounce-in {
	0% {
	  transform: translateX(0%);
	  opacity: 0;
	}
	50% {
	  transform: translateX(-52%);
	  opacity: 0.8;
	}
	100% {
	  transform: translateX(-50%);
	  opacity: 1;
	}
  }
  @-moz-keyframes bounce-in {
	0% {
	  transform: translateX(0%);
	  opacity: 0;
	}
	50% {
	  transform: translateX(-52%);
	  opacity: 0.8;
	}
	100% {
	  transform: translateX(-50%);
	  opacity: 1;
	}
  }